<div class="custom">
    <app-language></app-language>
    <div class="background-main">
        <div class="main-top">
            <span>{{'mode.select-mode' | translate}}</span>
        </div>
        <div class="main-bottom">
            <button routerLink="/connect4-menu" class="btn">
                <span>{{'mode.connect-four' | translate}}</span>
                <img src="assets/logo.svg" alt="connect 4">
            </button>
            <button routerLink="/tic-tac-toe-menu" class="btn">
                <span>{{'mode.tic-tac-toe' | translate}}</span>
                <img src="assets/tic-tac-toe-logo.svg" alt="tic tac toe">
            </button>
        </div>
    </div>
</div>