<div class="field-container">
    <div 
    *ngFor="let row of [0,1,2]" 
            class="row row{{row}}" >
        
        <!--<app-player-top-marker 
            *ngIf="currentColumn === i" 
            [player]="this.currentPlayer.number"
            class="marker"></app-player-top-marker>-->
            
        <button (click)="setDot(row, column)" 
                *ngFor="let column of [0,1,2]" 
                class="column column{{column}}">
            
        </button>
    </div>
</div>

<img class="layer-grid" src="assets/grid.svg" >
<div [ngStyle]="roundOver ? {'opacity':'0'} : {'opacity':'1'}" class="current-turn">
    <app-player-bottom-marker [player]=this.currentPlayer.number></app-player-bottom-marker>
    <h3 class="current-turn-wrapper">{{'turn' | translate}}</h3>
</div>


<div *ngIf="roundOver" class="winner-container">
    <h3 class="heading-xs">{{'player' | translate}} {{this.winner?.name}}</h3>
    <h4 class="heading-l">{{'wins' | translate}}</h4>
    <button (click)="restart()" class="btn-small">{{'play-again' | translate}}</button>
</div>
