:host{
    display: block;
    background-color: var(--uranian-blue);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 20;
    border: 0.18rem solid #000000;
    box-shadow: 0rem 0.625rem 0rem #000000;
    border-radius: 2.5rem;
}
h1{
    margin: 2rem;
    text-align: center;
    color: var(--white);
}
.buttons-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 2rem 2.5rem 2rem;
}
.quit{
    background-color: var(--red);
    color: var(--white);
}

@media screen and (max-width: 36rem){
    :host{
        width: 90%;
    }
    .buttons-container{
        padding: 0 1.5rem 2rem 1.5rem;
    }
    .btn{
        width: 100%;
    }
}