<div class="main-top">
    <img src="assets/logo.svg" alt="logo">
</div>
<div class="main-center">    
    <div class="main-center-field">        
        <img src="assets/player-one.svg" alt="player 1">
        <input placeholder="Player 1" alt="name player 1">
    </div>
    <div class="main-center-field">        
        <img src="assets/player-two.svg" alt="player 2">
        <input placeholder="Player 2" alt="name player 2">
    </div>
</div>
<div class="main-bottom">
    <button routerLink="/player-vs-player" class="btn">
        <span>PLAY</span>
        <img src="assets/player-vs-player.svg" alt="player vs player">
    </button>
    <button routerLink="/rules" class="btn">GAME RULES</button>
</div>
