:host{
    display: block;
    height: 40rem;
    width: 30rem;
    background-color: var(--uranian-blue);
    border: 0.18rem solid var(--black);
    box-shadow: 0rem 0.625rem 0rem var(--black);
    border-radius: 2.5rem;
}
.main-top{
    margin: 4.5rem 0 4.5rem 0;
    img{
        display: block;
        margin: auto;
    }
}

.main-center{
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    .main-center-field{   
        display: grid;
        grid-template-columns: 75% 20%;
        margin-bottom: 1.5rem;
        margin-left: 1rem;
        
        img{
            margin: auto; 
        }
    }
}

.main-bottom{
    margin-bottom: 4rem;
    button{
        display: block;
        margin: auto;
        &:first-child{
            background-color: var(--teal);
            margin-bottom: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &:last-child{
            background-color: var(--moonstone);
            text-align: start;
        }     
    }
}

@media screen and (max-width:36rem){
    :host{
        width: 90%;
        border: none;
        box-shadow: none;
    }
    .btn{
        width: 100%;
    }
}