<header>
    <app-language></app-language>
    <div>
        <button (click)="toggleMenu()" class="btn-small">{{'menu' | translate}}</button>
        <img src="assets/tic-tac-toe-logo.svg" alt="logo">
        <button (click)="restart()" class="btn-small">{{'restart' | translate}}</button>
    </div>
</header>
<div class="points-container">
    <div class="player1-container scoreboard">
        <app-player-icon [player]="1"></app-player-icon>
        <h1 class="heading-s">{{player1Name}}</h1>
    </div>
    <div class="player2-container scoreboard">
        <app-player-icon [player]="2"></app-player-icon>
        <h1 class="heading-s">{{player2Name}}</h1>
    </div>
</div>
<app-tic-tac-toe-board (winnerOutput)="getWinner($event)"></app-tic-tac-toe-board>
<footer [ngStyle]="this.winner === 'red' ? {'background-color': 'var(--red)'} : this.winner === 'green' ? {'background-color': 'var(--lime-green)'} : {'background-color': ''} "></footer>
<div *ngIf="menuOpened" class="dark-background"></div>
<app-pause-menu (restartOutput)="restart()" (continueOutput)="toggleMenu()" *ngIf="menuOpened"></app-pause-menu>