*{
    box-sizing: border-box;
}
body{
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
}
.main-menu-background{
    background-color: var(--picton-blue);
}
.background-pvp-rules{
    background-color: var(--uranian-blue);
}

button{
    font-family: 'Space Grotesk', sans-serif;
}

input{
    width: 400px;
    height: 72px;
    font-size: 24px;
    line-height: 31px;
    font-weight: bold;
    border: 3px solid var(--black);
    box-shadow: 0px 10px 0px var(--black);
    border-radius: 20px;
    padding: 1rem;
    cursor: pointer;
    transition: border .3s, box-shadow .3s;
    &:hover{
        border: 3px solid var(--picton-blue);
        box-shadow: 0px 10px 0px var(--picton-blue);
    }
}

:root{
    //Colors
    --black: #000000;
    --picton-blue: #45B1E8;
    --uranian-blue: #AFDBF5;
    --red: #FD6687;
    --lime-green: #32CD32;
    --white: #FFFFFF;
}

.heading-l{
    font-size: 56px;
    line-height: 71px;
    font-weight: bold;
}
.heading-m{
    font-size: 24px;
    line-height: 31px;
    font-weight: bold;
}
.heading-s{
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
}
.heading-xs{
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}
.body-m{
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
}

.btn{
    width: 400px;
    height: 72px;
    font-size: 24px;
    line-height: 31px;
    font-weight: bold;
    border: 3px solid var(--black);
    box-shadow: 0px 10px 0px var(--black);
    border-radius: 20px;
    padding: 1rem;
    cursor: pointer;
    transition: border .3s, box-shadow .3s;
    &:hover{
        border: 3px solid var(--picton-blue);
        box-shadow: 0px 10px 0px var(--picton-blue);
    }
}
.btn-round{
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}
.btn-small{
    @extend .heading-xs;
    background-color: var(--picton-blue);
    color: var(--white);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    padding: .5rem 1rem;
    transition: background-color .3s;
    &:hover{
        background-color: var(--red);
    }
}
@media screen and (max-width: 575px){
    .main-menu-background{
        background-color: var(--uranian-blue);
    }

}